.waves-effect.waves-green {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: whitesmoke;
    color: forestgreen;
}

.waves-effect.waves-red {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: whitesmoke;
    color: red;
}
